services:
  Skeleton:
    image: postgres:16-bookworm
    volumes:
      - Skeleton_data:/var/lib/postgresql/data
    container_name: Skeleton
    ports:
      - "5432:5432"
    restart: always
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres

volumes:
  Skeleton_data:
