version: "3.8"

services:
  postgres:
    image: postgres:16-bookworm
    container_name: postgres-webApi
    restart: always
    ports:
      - "6543:5432"
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
    volumes:
      - webApi_data:/var/lib/postgresql/data

volumes:
  webApi_data:
