services:
  WepApi:
    image: postgres:16-bookworm
    volumes:
      - WepApi_data:/var/lib/postgresql/data
    container_name: WepApi
    ports:
      - "5432:5432"
    restart: always
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres

volumes:
  WepApi_data:
